<div "body">
	<div id= "mymenu">
		<div class="row">
		  <div id="homeButton">
		  <a href="#Home" class="button">Home
          </a>
          </div>
             <div id="aboutButton">
                <a href="#About" class="button">About
                </a>
             </div>
                <div id="charityButton">
                   <a href="#About" class="button">Donate
                     </a>
                </div>
         </div>
         </div>

<div class = "banner">
  <div class="row">
    <div id="pregnant">

    <img src="assets/mom.png" alt="Pregnant Mom" height="400" width="531"/>
  </div>
	<div id= "bannerContainer">
   
   
        <!--<p class= "button">shape your baby's future one name at a time</p>-->
    </div>
	
</div>
</div>
<div id= "story">
  <p class = "button">Your baby is special and should have a unique name. Names are more than a bunch of letters grouped together to sound pleasant to the ear, <br>names are an identity, they shape the personality and future of an individual.  We provide you with unique, <br>well researched meaningful African names based on attributes you hope your new born will acquire.</p>
  </div>
  <div id= "formHeading">
    <p>Choose desired attributes</p>
    <form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
</form>
  </div>

 
 




</div>
