<div "body">
	<div id= "mymenu">
		<div class="row">
		  <div id="homeButton">
		  <a href="#Home" class="button">Home
          </a>
          </div>
             <div id="aboutButton">
                <a href="#About" class="button">About
                </a>
             </div>
                <div id="charityButton">
                   <a href="#About" class="button">Donate
                     </a>
                </div>
         </div>

	</div>
<div class = "banner">
  <img src="assets/mom.png" alt="Pregnant Mom" height="400" width="531"/>
  <div class= "row">
	<div id= "bannerContainer">
		<p>test<p>
		</div>
   <div id="pregnant">
    
  </div>
</div>
	</div>



</div>
